.button {
  background-color: rgb(120, 180, 240);
  color: white;
  font-weight: bold;
  font-size: large;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-style: none;
  height: 35px;
  width: 100px;
  margin: 5px;
  border-radius: 3px;
  overflow: hidden;
  transition: 0.5s ease all;
  transform: skewX(-5deg);
}

.button span {
  z-index: 2;
}

.button.start::after {
  content: "";
  width: 100%;
  height: 100%;
  left: -100%;
  background: rgb(92, 165, 90);
  position: absolute;
  z-index: 1;
  transition: 0.3s ease all;
}

.button.start:hover::after {
  left: 0;
}

.button.pause::after {
  content: "";
  width: 100%;
  height: 100%;
  left: -100%;
  background: rgb(255, 130, 70);
  position: absolute;
  z-index: 1;
  transition: 0.3s ease all;
}

.button.pause:hover::after {
  left: 0;
}

.button.reset::after {
  content: "";
  width: 100%;
  height: 100%;
  left: -100%;
  background: rgb(230, 90, 90);
  position: absolute;
  z-index: 1;
  transition: 0.3s ease all;
}

.button.reset:hover::after {
  left: 0;
}

.button.addLap::after {
  content: "";
  width: 100%;
  height: 100%;
  left: -100%;
  background: rgb(170, 170, 180);
  position: absolute;
  z-index: 1;
  transition: 0.3s ease all;
}

button.addLap:hover::after {
  left: 0;
}

#buttons-container {
  position: relative;
  left: 50%;
  margin-left: 240px;
  margin-top: 60px;
  width: 200px;
  display: none;
}
